body {
    background-color: hsl(0, 0%, 90%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 20px;
}
#imgid {
    width: 150px;
}
#mainheadingid {
    color: rgb(1, 183, 255);
}
#tempinputid {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid gray;
}
.radiobutt {
    font-size: 175%;
}
#buttonid {
    background-color: red;
    border: none;
    font-size: xx-large;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
#buttonid:hover {
    background-color: rgb(255, 89, 89);
}