body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
#container {
    text-align: center;
    border: 2px solid white;
    padding: 20px;
}
#headingid {
    font-size: 50px;
    
}
#votespan {
    color: aqua;
}
#checkerspan {
    color: red;
}
#labelid {
    color: white;
    font-size: xx-large;
}
#ageid {
    font-size: xx-large;
    text-align: center;
    height: 50px;
    background-color: gray;
    color: white;
}
#buttonid {
    font-size: 40px;
    background-color: greenyellow;
    border: none;
}
#buttonid:hover {
    cursor: pointer;
    background-color: rgb(210, 250, 150);
}
#buttonid:active {
    background-color: rgb(241, 255, 219);
}
#resultid {
    color: white;
}