body {
    height: 100vh;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    border: 2px solid white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}
#mainheadingid {
    color: white;
}
#baseinputid {
    width: 90%;
    font-size: xx-large;
    border: 2px solid white;
    background-color: gray;
    color: black;
    padding: 10px;
}
#baseinputid::placeholder {
    color: black;
}
#heightinputid {
    width: 90%;
    font-size: xx-large;
    border: 2px solid white;
    background-color: gray;
    color: black;
    padding: 10px;
}
#heightinputid::placeholder {
    color: black;
}
#buttonid {
    width: fit-content;
    border: none;
    background-color: rgb(9, 192, 9);
    font-size: xx-large;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
#buttonid:hover {
    background-color: rgb(15, 216, 15);
    cursor: pointer;
}
#buttonid:active {
    background-color: rgb(53, 255, 53);
}
#resultheading {
    color: white;
}