body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    padding: 20px;
    color: white;
    border: 2px solid rgb(0, 153, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
#counterheader {
    font-size: 50px;
}
#display {
    border: 2px solid rgb(0, 153, 255);
    border-radius: 10px;
    text-align: center;
    font-size: 75px;
    width: fit-content;
    padding: 0;
    margin: 0;
}
#buttoncontainer {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}
.buttons {
    background-color: rgb(0, 153, 255);
    border: none;
    color: white;
    font-size: 75px;
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
}
.buttons:hover {
    background-color: lightskyblue;
}