body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#container {
    border: 2px solid gray;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}
#chooseheading {
    font-size: xx-large;
    color: white;
    text-align: center;
}
#mclabel {
    font-size: xx-large;
}
#visacontainerid {
    display: flex;
    align-items: center;
}
#visalabel {
    font-size: xx-large;
    color: cyan;
}
#visaimg {
    width: 3em;
    height: auto;
    margin-left: auto;
}
#mccontainerid {
    display: flex;
    align-items: center;
}
#mastercardimg {
    width: 3em;
    height: auto;
    margin-left: auto;
}
#mspan {
    color: red;
}
#cspan {
    color: orange;
}
#buttoncontainerid {
    text-align: center;
}
#buttonid {
    font-size: 2em;
    cursor: pointer;
}
#resulthead {
    color: white;
    font-size: x-large;
    text-align: center;
}